streamlit
pandas
langchain>=0.3.0
langchain-community>=0.3.0
langchain-huggingface>=0.3.0
langchain-chroma
sentence-transformers
chromadb
python-dotenv
pysqlite3-binary
huggingface-hub>=0.24.0
